.card {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.card:hover {
    transform: translateY(-5px); /* Slightly lift the card on hover */
    transition: all 0.3s ease;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.title {
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 99%;
    font-size: 18px;
}

.description {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    max-height: 4.5em;
    width: 99%;
}

a {
    text-decoration: none;
}
