.navLine {
    display: flex;
    justify-content: center;
    background-color: #C70039;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #FF5733;
}