.navLine {
    display: flex;
    justify-content: center;
    background-color: #C70039;
    padding: 0 10px;
    position: sticky;
    top: 39px;
    z-index: 3;
}

.navLine a {
    color: #fff;
    text-decoration: none;
    padding: 20px 20px;
    transition: background-color 0.3s ease;
}

.navLine a:hover {
    background-color: #ff6b4f;
}

.selected{
    background-color: #FF5733;
    border-bottom: 3px solid #7185dc;
}